/* color vars*/
$color-white: #ffffff;
$color-black: #000000;
$color-red: #d0021b;
$color-yellow: #f5a623;
$color-blue-light: #0093ff;
$color-blue: #5791ff;
$color-green: #7ed321;
$color-gray-lighter: #f2f2f2;
$color-gray-light: #e1e1e1;
$color-gray: #5c5c5c;
$color-gray-dark: #757575;

$color-blue-62: rgba(87, 145, 255, 0.62);
$color-blue-light-35: rgba(0, 147, 255, 0.35);
$color-blue-light-44: rgba(0, 147, 255, 0.44);
$color-blue-light-73: rgba(0, 147, 255, 0.73);
$color-blue-lighter-8: rgba(0, 50, 165, 0.08);
$color-gray-62: rgba(92, 92, 92, 0.62);
$color-white-36: rgba(255, 255, 255, 0.36);
$color-white-62: rgba(255, 255, 255, 0.62);
$color-white-73: rgba(255, 255, 255, 0.73);
$color-white-99: rgba(255, 255, 255, 0.99);

$radius: 3px;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;
